.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 20px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
  }
}

.group {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0;
  padding: 8px 0;

  a {
    padding: 0;
  }

  @media (max-width: 768px) {
    align-items: center;
  }
}
